/* Stile per il footer */
footer {
    background-color: #43ADCE;
}

.footer-rectangle {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
    list-style: none;
    display: flex;
    gap: 67px;
    padding: 0;
    margin: 0;
}

.menu-item .menu-item2 {
    position: relative;
}

.menu-item a {  
    text-decoration: underline;
    color: #FFF;
    font-weight: 500;
}

.menu-item2 a {
    text-decoration: underline;
    color: #FFF;
    font-weight: 500;
}

.dropdown4 {
    display: none;
    position: absolute;
    background-color: #238FB0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.footer1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    background-color: #238FB0;
    height: 150px;
    align-items: center ;
}
    
.footer2 {
        grid-area: 1 / 2 / 2 / 4;
}
.footer3 {
    grid-area: 1 / 5 / 2 / 9;
}
.footer4 {
    grid-area: 1 / 11 / 2 / 12;
}

.logofooter {
    width: 244px;
    height: auto;
}

.footerparagrafo {
    font-size: 13px;
    color: #ffffff;
    margin: 0px;
}

.parfootercentrale {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
}

.parfootercentrale2 {
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
}

.iconsocial {
    margin-left: 8px;
    width: 25px;
}

.copyrightfooter {
    font-size: 11px;
    margin: 0px;
    padding-top: 5px;
    color: #ffffff;
}

/* Stili per dispositivi mobili */
@media only screen and (max-width: 768px) {
    /* Stile per il footer */
    footer {
        background-color: #43ADCE;
    }

    .footer-rectangle {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-menu {
        list-style: none;
        display: flex;
        gap: 0px;
        flex-wrap: wrap;
        max-width: 500px;
        padding-top: 20px;
        justify-content: center;
        margin: 0 auto;
        margin-left: -15px;
    }

    .footer-menu li {
        padding-left: 30px;
    }

    .menu-item,
    .menu-item2 {
        margin-bottom: 20px; 
    }

    .menu-item a, .menu-item2 a {
        text-decoration: underline;
        color: #FFF;
        font-weight: 500;
    }

    .dropdown4 {
        display: none;
        position: absolute;
        background-color: #238FB0;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .footer1 {
        display: grid;
        grid-template-columns: 1fr; /* Una colonna per dispositivi mobili */
        grid-column-gap: 10px; /* Riduci lo spazio tra le colonne per dispositivi mobili */
        background-color: #238FB0;
        align-items: center;
    }

    .footer2, .footer3, .footer4 {
        text-align: center; 
    }

    .footer2 img {
        padding-top: 60px;
    }


    .footer2 {
        padding-bottom: 50px;
        padding-bottom: 20px;
    }


    .logofooter {
        width: 100%; 
        max-width: 244px;
        height: auto;
    }

    .footerparagrafo {
        font-size: 13px;
        color: #ffffff;
        margin: 0px;
    }

    .parfootercentrale {
        font-weight: 500;
        font-size: 20px;
        width: 350px;
        color: #ffffff;
        margin: 0px;
        clear: both;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .parfootercentrale2 {
        width: 270px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .iconsocial {
        margin: 0 8px; /* Spaziatura uniforme tra le icone sociali */
        width: 25px;
    }

    .copyrightfooter {
        font-size: 11px;
        margin: 0px;
        padding-top: 5px;
        color: #ffffff;
    }
    .footer1 {
        display: block;
        height: 380px;
    }
}