.h2page {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin: 0px;
}

.parpage{
    font-size: 20px;
    margin: 0px;
    color: #ffffff;
}

.meteovariabile {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-top: 6%;
    padding-bottom: 6%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 768px) {
    .meteovariabile2 {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
.meteovariabile2 {
    padding-top: 0;
    margin-top: -100px;
    margin-bottom: 100px;
    padding-top: 6%;
    padding-bottom: 6%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
}
.meteovariabile {
    display: none;
}
}

/* STYLE GRID CARD */
.centropagina {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 130px;
    grid-row-gap: 70px;
    padding-bottom: 150px;

    }
    
    .elemento1 {
        grid-area: 1 / 5 / 2 / 9;
        padding-top: 112px;
        padding-bottom: 0px;
    }
    .elemento2 {
        grid-area: 2 / 2 / 3 / 4;
        display: flex;
        padding-top: 40px;
    }
    .elemento3 {
        grid-area: 2 / 4 / 3 / 7;
        display: flex;
        padding-top: 40px;
    }
    .elemento4 {
        grid-area: 2 / 7 / 3 / 9;
        display: flex;
        padding-top: 40px;
    }
    .elemento5 {
        grid-area: 2 / 9 / 3 / 12;
        display: flex;
        padding-top: 40px;
    }
    .elemento6 {
        grid-area: 3 / 2 / 4 / 4;
        display: flex;
        padding-top: 40px;
    }
    .elemento7 {
        grid-area: 3 / 4 / 4 / 7;
        display: flex;
        padding-top: 40px;
    }
    .elemento8 { 
        grid-area: 3 / 7 / 4 / 9;
        display: flex;
        padding-top: 40px;
    }
    .elemento9 {
        grid-area: 3 / 9 / 4 / 12;
        display: flex;
        padding-top: 40px;
    }
    .elemento10 {
        grid-area: 4 / 2 / 5 / 4;
        display: flex;
        padding-top: 40px;
    }
    .elemento11 {
        grid-area: 4 / 4 / 5 / 7;
        display: flex;
        padding-top: 40px;}
    .elemento12 {
        grid-area: 4 / 7 / 5 / 9;
        display: flex;
        padding-top: 40px;
    }
    .elemento13 {
        grid-area: 4 / 9 / 5 / 12;
        display: flex;
        padding-top: 40px;
    }

    .elemento3,.elemento5,.elemento7,.elemento9,.elemento11,.elemento13 {
        padding-left: 40px;
    }

.paragrafocard {
    font-size: 18px;
    text-align: center;
    margin: 0px;
}

.headcard {
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding-bottom: 15px;
}

.headcard2 {
    font-size: 30px;
    margin: 0px;
    padding-bottom: 15px;
    text-align: left;
    width: 100%;
}

.elementocardparagrafo {
    font-size: 20px;
    width: 550px;
    text-align: center;
    margin: 0px;
}

.elementocardparagrafo2 {
    font-size: 20px;
    width: 300px    ;
    text-align: left;
    margin: 0px;
}

.h6contatti {
    font-size: 20px;
    font-weight: 600;
    color: #185D73;
    text-align: left;
    margin: 0px;
    padding-top: 40px;
}

.numerotelefono {
    color: #032F3D;
    font-weight: 600;
    font-size: 20px;
}

.flexinfo a {
    text-decoration: underline;
    color: #032F3D;
}

.flexinfo a:hover {
    text-decoration: none;
    color: #185D73;
}

.flexinfo {
    display: flex;
}

.flexinfo img {
    margin-right: 13px;
}

.imagedivcard {
    padding-right: 55px;
}

.contenuto4paginasingola {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 6%;
    overflow: hidden;
    background-color: #ffffff;
}

.parslidehotelsingola {
    color: #185D73;
}

.spiaggieelemento {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding-bottom: 8%;
    }
    
    .spiaggia1 {
        grid-area: 1 / 2 / 2 / 4;
        display: grid;
        justify-content: center;
    }
    .spiaggia2 {
        grid-area: 1 / 4 / 2 / 6;
        display: grid;
        justify-content: center;
    }
    .spiaggia3 {
        grid-area: 1 / 6 / 2 / 8;
        display: grid;
        justify-content: center;
    }
    .spiaggia4 {
        grid-area: 1 / 8 / 2 / 10;
        display: grid;
        justify-content: center;
    }
    .spiaggia5 {
        grid-area: 1 / 10 / 2 / 12;
        display: grid;
        justify-content: center;
    }
    .spiaggia6 {
        grid-area: 2 / 2 / 3 / 4;
        display: grid;
        justify-content: center;
    }
    .spiaggia7 {
        grid-area: 2 / 4 / 3 / 6;
        display: grid;
        justify-content: center;
    }
    .spiaggia8 {
        grid-area: 2 / 6 / 3 / 8;
        display: grid;
        justify-content: center;
    }
    .spiaggia9 {
        grid-area: 2 / 8 / 3 / 10;
        display: grid;
        justify-content: center;
    }
    .spiaggia10 {
        grid-area: 2 / 10 / 3 / 12;
        display: grid;
        justify-content: center;
    }
    .spiaggia11 {
        grid-area: 3 / 2 / 4 / 4;
        display: grid;
        justify-content: center;
    }
    .spiaggia12 {
        grid-area: 3 / 4 / 4 / 6;
        display: grid;
        justify-content: center;
    }
    .spiaggia13 {
        grid-area: 3 / 6 / 4 / 8;
        display: grid;
        justify-content: center;
    }
    .spiaggia14 {grid-area: 3 / 8 / 4 / 10;
        display: grid;
        justify-content: center;
    }
    .spiaggia15 {
        grid-area: 3 / 10 / 4 / 12;
        display: grid;
        justify-content: center;
    }

    .paragrafospiaggia {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 120px;
    }

    .titolospiaggia {
        font-size: 20px;
        color: #032F3D;
        margin: 0px;
        font-weight: 700;
        text-align: center;
        padding-top: 12px;
    }

    .isolaspiaggianome{
        font-size: 20px;
        color: #032F3D;
        margin: 0px;
        text-align: center;
        font-style: italic;
    }

    .sezioneristorante {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding-bottom: 11%;
        align-items: center;
        padding-top: 0
        }
    .sezionesoggiorno2{
        padding-bottom: 150px;
    }
        .sezioneristorante2 {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 150px;
            grid-row-gap: 50px;
            padding-bottom: 2%;
            align-items: center;
            padding-top: 0
            }

    .sezionecomearrivare {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
    padding-bottom: 150px;
    align-items: center;
    align-content: center;
    }

    .comearrivare1 {
        grid-area: 1 / 1 / 2 / 6;
    }
    .comearrivare2 {
        grid-area: 1 / 7 / 2 / 12;
    }
    .comearrivare3 {
        grid-area: 1 / 8 / 2 / 12;
    }
    .comearrivare4 {
        grid-area: 1 / 2 / 2 / 6; 
    }
        
        .risto1 {
            grid-area: 1 / 2 / 2 / 4;
            display: flex;
            padding-top: 40px;
        }
        .risto2 {
            grid-area: 1 / 4 / 2 / 7;
            display: flex;
            padding-top: 40px;
        }
        .risto3 {
            grid-area: 1 / 7 / 2 / 9;
            display: flex;
            padding-top: 40px;
        }
        .risto4 {
            grid-area: 1 / 9 / 2 / 12;
            display: flex;
            padding-top: 40px;    
        }
        .risto5 {
            grid-area: 2 / 2 / 3 / 4;
            display: flex;
            padding-top: 40px;
        }
        .risto6 {
            grid-area: 2 / 4 / 3 / 7;
            display: flex;
            padding-top: 40px;
        }
        .risto7 {
            grid-area: 2 / 7 / 3 / 9;
            display: flex;
            padding-top: 40px;
        }
        .risto8 {
            grid-area: 2 / 9 / 3 / 12;
            display: flex;
            padding-top: 40px;
        }

        .risto2,.risto4,.risto6,.risto8 {
            padding-left: 50px;
        }

.paragrafoarrivare{
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.linkparagrafoarrivare {
    color: #000;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}
.spaziocard {
    padding-top: 40px;
}

.paragrafospazio {
    padding-bottom: 20px;
    padding-top: 10px;
}

.headcardisolecard {
    font-size: 30px;
    margin: 0px;
    padding-bottom: 0px;
    text-align: left;
    width: 100%;
}

.paragraforistoranti {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.mappafooter {
    margin: 0px;
    margin-bottom: -5px;
}

/* CSS style grid contatti */
.cardcontatti {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 11%;
    padding-top: 5%;
    text-align: center;
    align-items: center;
    }
    
    .contatti1 {
        grid-area: 2 / 4 / 3 / 6;
        background-color: #F7FAFB;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding: 40px;
    }
    .contatti2 {
        grid-area: 2 / 6 / 3 / 8;
        background-color: #F7FAFB;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding: 50px;
        height: 150px;
    }
    .iconcard{
        width: 70px;
        height: auto;
    }

    .iconcard1{
        width: 55px;
        height: auto;
    }
    .contatti3 {
        grid-area: 2 / 8 / 3 / 10;
        background-color: #F7FAFB;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        padding: 50px;
        height: 150px;   
    }

    .internoparagrafo {
        padding-top: 35px;
    }

    .internoparagrafo1 {
        padding-top: 10px;
    }

    .internonumeri1 {
        padding-top: 10px;
    }

    .paragrafocard1 {
        font-size: 17px;
    }

    .elementotestualeprivacy{
        padding-left: 180px;
        padding-right: 150px;
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .titolosezionimezzi {
        color: #3D81A8;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 150px;
        margin: 0px;
    }

    .contenutogenerale1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px; /* Spazio tra i div */
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 90px;
      }
      
      .spiaggie {
        text-align: center; /* Allinea il contenuto al centro */
        border: 1px solid #ddd; /* Aggiunge un bordo per separare i div */
        padding: 10px; /* Spazio interno al div */
      }
      
      /* Stili aggiuntivi per le immagini */
      .spiaggie img {
        max-width: 100%;
        height: auto;
      }
      

    /* RESPONSIVE MOBILE */
@media only screen and (max-width: 768px) {
    .body {
     overflow: hidden!important; 
    }
    .centropagina {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    .elementocardparagrafo {
        clear: both;
        width: 420px;
        margin: 0 auto;
        padding-bottom: 80px;
    }
    .headcard {
        font-size: 35px;
    }
    .elemento1 {
        margin-top: -220px;
    }
    .elemento2 img {
        display: block; 
        margin-left: 60px; 
        text-align: center;
        margin-top:  -90px;
        width: 390px;
        height: auto;
    }
    .elemento3 {
        display: block;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left: 10px;
    }
    .elemento4 img {
        display: block; 
        margin-left: 60px; 
        text-align: center;
        margin-top:  -30px;
        width: 390px;
        height: auto;
    }
    .elemento5 {
        display: block;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left: 10px;
    }
    .elemento6 img {
        display: block; 
        margin-left: 60px; 
        text-align: center;
        margin-top:  -30px;
        width: 390px;
        height: auto;
    }
    .elemento7 {
        display: block;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left: 10px;
    }
    .elemento8 img {
        display: block; 
        margin-left: 60px; 
        text-align: center;
        margin-top:  -30px;
        width: 390px;
        height: auto;
    }
    .elemento9 {
        display: block;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left: 10px;
    }
    .elemento10 img {
        display: block; 
        margin-left: 60px; 
        text-align: center;
        margin-top:  -30px;
        width: 390px;
        height: auto;
    }
    .elemento11 {
        display: block;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left: 10px;
    }
    .elemento12 img {
        display: block; 
        margin-left: 60px; 
        text-align: center;
        margin-top:  -30px;
        width: 390px;
        height: auto;
    }
    .elemento13 {
        display: block;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        margin-top: -50px;
        margin-left: 10px;
    }
    .contenuto4paginasingola {
        display: block;
        padding: 30px;
    }
    .boxtesto4 {
        padding-top: 50px;
    }
    .slider-container4 {
        padding-bottom: 90px;
    }
    .spiaggieelemento {
        display: block;
        padding: 0px;
    }
    .spiaggia1 img {
        width: 350px;
        height: auto;
        margin-top: -120px;
    }
    .spiaggia2 img {
        width: 350px;
        height: auto;
    }
    .spiaggia3 img {
        width: 350px;
        height: auto;
    }
    .spiaggia4 img {
        width: 350px;
        height: auto;
    }
    .spiaggia5 img {
        width: 350px;
        height: auto;
    }
    .spiaggia6 img {
        width: 350px;
        height: auto;
    }
    .spiaggia7 img {
        width: 350px;
        height: auto;
    }
    .spiaggia8 img {
        width: 350px;
        height: auto;
    }
    .spiaggia9 img {
        width: 350px;
        height: auto;
    }
    .spiaggia10 img {
        width: 350px;
        height: auto;
    }
    .spiaggia11 img {
        width: 350px;
        height: auto;
    }
    .spiaggia12 img {
        width: 350px;
        height: auto;
    }
    .spiaggia13 img {
        width: 350px;
        height: auto;
    }
    .spiaggia14 img {
        width: 350px;
        height: auto;
    }
    .spiaggia15 img {
        width: 350px;
        height: auto;
    }
    .spiaggia1, .spiaggia2, .spiaggia3, .spiaggia4, .spiaggia5, .spiaggia6, .spiaggia7, .spiaggia8, .spiaggia9, .spiaggia10, .spiaggia11, .spiaggia12, .spiaggia13, .spiaggia14, .spiaggia15{
        padding-bottom: 70px;
    }
    .sezioneristorante {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -70px;
    }
    .sezioneristorante2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
    }
    .sezionecomearrivare{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .comearrivare1 img{
        width: 500px;
        padding-right: 50px;
    }
    .comearrivare3 img{
        width: 500px;
        padding-left: 50px;
    }
    .comearrivare4 img{
        width: 320px;
    }
    .comearrivare4{
       padding-left: 0px;
       margin-left: 0px;
    }
    .risto1 img{
        width: 370px;
    }
    .risto2{
        padding-bottom: 50px;
        margin-left: -80px;
    }
    .risto3 img{
        width: 370px;
    }
    .risto4{
        padding-bottom: 70px;
        margin-left: -80px;
    }
    .risto5 img{
        width: 370px;
    }
    .risto6{
        padding-bottom: 70px;
        margin-left: -80px;
    }
    .risto7 img{
        width: 370px;
    }
    .risto8{
        padding-bottom: 70px;
        margin-left: -80px;
    }
    .cardcontatti {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contatti1, .contatti2, .contatti3 {
        background-color: transparent;
    }
}